
@media (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }

    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }

    .sair{
        font-size: 3.3rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.3rem;
        text-align: center; 
                
    }

    .menuUl{
        list-style-type: none;        
        text-align: center; 
                
    } 


    /*Imagem*/
    .container{     
        flex-direction: column;
        
    } 
    
    .item{
    border: 0px solid white;    
    height: 35rem;
    width: 90%;    

    }

    
    /*Formulários*/
    label{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    input{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 85%;
        border: 3px solid black;
    }

    select{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    fieldset{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .button{
        font-size: 3.1rem;
        width: 50%;
        height: 6.5rem;
        border-radius: 8px;
    }

    .msg{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }


    /*Tabelas*/
    .cor2{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }    
    
    .container-tabela{
      overflow-x: auto;
          
    }    

    th{
        font-size: 1.2rem;
        text-align: center;
    }

    td{
        font-size: 1.1rem;
        text-align: center;
    }
    

    /*.fixo{
        position: fixed;
        bottom: 0;;
        width: 95%;
    }*/

    table{
        width: 100%;
        margin: auto;        
    }

    .colum{
        width: 10em;
        height: auto;
        text-align: center;
        
    }

    /*.colum1{
        width: 3em;
        text-align: center;
        
    }


    .colum2{
        width: 7em;
        text-align: center;
        
    }

    .colum3{
        width: 3em;
        text-align: center;
        
    }*/



}



@media (max-width: 500px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }

    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }

    .sair{
        font-size: 3.3rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.3rem;
        text-align: center; 
                
    }

    .menuUl{
        list-style-type: none;        
        text-align: center; 
                
    } 


    /*Imagem*/
    .container{     
        flex-direction: column;
        
    } 
    
    .item{
    border: 0px solid white;    
    height: 35rem;
    width: 90%;    

    }

    
    /*Formulários*/
    label{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    input{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 85%;
        border: 3px solid black;
    }

    select{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    fieldset{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .button{
        font-size: 3.1rem;
        width: 50%;
        height: 6.5rem;
        border-radius: 8px;
    }

    .msg{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }


    /*Tabelas*/
    .cor2{
        font-size: 3.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }    
    
    .container-tabela{
      overflow-x: auto;
          
    }    

    th{
        font-size: 1.2rem;
        text-align: center;
    }

    td{
        font-size: 1.1rem;
        text-align: center;
    }
    

    /*.fixo{
        position: fixed;
        bottom: 0;;
        width: 95%;
    }*/

    table{
        width: 100%;
        margin: auto;        
    }

    .colum{
        width: 10em;
        height: auto;
        text-align: center;
        
    }

    /*.colum1{
        width: 3em;
        text-align: center;
        
    }


    .colum2{
        width: 7em;
        text-align: center;
        
    }

    .colum3{
        width: 3em;
        text-align: center;
        
    }*/



}









