*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
       
}

h1{        
    background-color: blue;
    color: white;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.5rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;  

}

h4{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

h5{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
}

p{
    font-size: 1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}

.menuLi{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: blueviolet ;    
    text-decoration: none;   
                
}

.menuUl{    
    list-style-type: none;
    text-align: center;   
}

.sair{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}

/*Voltat Página Inicial*/
.centerVoltarInicio{
    display: flex;
    justify-content: center;
    align-items: center;
}



.voltarSite{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    height: auto;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}








@media (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }

    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }

    .sair{
        font-size: 3.3rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.3rem;
        text-align: center; 
                
    }

    .menuUl{
        list-style-type: none;        
        text-align: center; 
                
    } 

    
    /* Formulários */
    label{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    input{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 85%;
        border: 3px solid black;
    }

    select{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    fieldset{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .button{
        font-size: 3.1rem;
        width: 50%;
        height: 6.5rem;
        border-radius: 8px;
    }



}





@media (max-width: 500px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
    }

    h4{
        font-size: 3.1rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }

    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }

    .sair{
        font-size: 3.3rem;
        text-align: center;
    }

    .menuLi{
        font-size: 3.3rem;
        text-align: center; 
                
    }

    .menuUl{
        list-style-type: none;        
        text-align: center; 
                
    } 


    /* Formulários */
    label{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    input{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 85%;
        border: 3px solid black;
    }

    select{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    fieldset{
        font-size: 3.1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .button{
        font-size: 3.1rem;
        width: 50%;
        height: 6.5rem;
        border-radius: 8px;
    }    
    


}






























