*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;       
}


html, body{
    /*Retira o Balancinho Horizontal do Codigo*/
    overflow-x: hidden;
}





/*Titulos*/
h1{        
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0.6rem;
}

h2{       
    background-color: gray;
    color: white;
    font-size: 1.4rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 0.6rem;
}

h3{         
    background-color: coral;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;         
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    padding: 0.6rem;  

}

h4{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;    
    text-align: center;
    margin-bottom: 3rem;
}

h5{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    margin-bottom: 3rem;
}






/*Baner*/
.containerBaner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: "imagem/fotoMasso1.jpd";
}

.itemBaner{
    border: 0px solid black;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}






/*Menu*/
.containerUl{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-bottom: 100px;       
    list-style-type: none;
    text-align: center;   
}


.itemLi{
    display: flex;
    justify-content: center;
}


.itemA{ 
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: blueviolet;  
    color: white ;
    cursor: pointer;     
    text-decoration: none;  
    padding: 10px;
    border-radius: 5px;

}

p{
    font-size: 1rem;
    color: black;
    width: 95%;
    text-align: justify;    
    margin-left: auto;
    margin-right: auto;
    text-indent: 4rem;
}




.sair{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    
}


/*Botão Voltar Topo*/
.btnVoltarTopo{        
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px;
    
}


.voltarTopo{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}




/*Botão Voltar Para o Site*/
.centerVoltarSite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltarSite{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    height: auto;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}





 /*Imagem no Index */
.contener{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}


.item{
    border: 3px solid white;    
    height: 16rem;
    width: 16rem;
    margin: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}





 /*Tabelas */
 .container-tabela{
    overflow-x: auto;      
}


table{
    /*table-layout: fixed;*/
    width: 50%;
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 10rem;
    
}




th,td{
    border: 3px  solid  black;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    padding: 10px;     
        
}

.th1{
    font-size: 1.4rem;
}


.th2{
    font-size: 1.2rem;
    
}


.td1{
    font-size: 1rem;
}




 
    /*propriedade Quegra Texto   
    overflow-wrap: break-word;
    word-break: break-all;*/   




th:nth-child(1){
    width: 25%;
}

th:nth-child(2){
    width: 40%;
}

th:nth-child(3){
    width: 35%;
}



.itemFoto{
    border: 0px solid black;    
    height: 13rem;
    width: 13rem;
    
    display: flexbox;
    margin: auto;
    align-items: center;
}

.espacoLinha{
    height: 100px;    ;
}


.cor2{
    background-color: blue;
    color: white;
}
.cor3{
    background-color: darkgray;
    color: black;
    font-weight: bold;
}

.cor4{
    background-color: lightgray;
    color: black;
}






/* Botões */
.button{    
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 4rem;
    width: 12rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    
}

.button{    
    background-color: blue;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 4rem;
    width: 12rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    
}

.button{    
    background-color: gray;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 4rem;
    width: 12rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    
}

/* Formulários */
label{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid black;
    text-align: center;
}

select{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Vídeos */
.video{
    width: 250px;
    height: 300px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border: 4px solid  blueviolet;       
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* Estilos para Texto */
Texto Justificado{
  text-align: justify;
}

Espaço Paragrafo{
  text-indent: 4rem;
}

Texto Negrito{
  font-weight: bold;
}



/* Comando "Voltar" no html 
<div>
  <a href="javaScript: history.back()">Voltar</a>
</div>*/












@media (max-width: 800px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
        margin-top: 17rem;
    }

    h4{
        font-size: 3.1rem;
        font-weight: bold;        
        text-align: center; 
               
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }
    


    .itemBaner{
        width: 100%;
        height: 40rem;

    }






    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }


    
    /*Botão Voltar Topo*/
        .btnVoltarTopo{        
        font-size: 2.7rem;
        text-align: center; 
        padding: 50px 100px;
        border-radius: 20px;       
    }



    /*Botão Voltar Para o Site*/    
    .voltarSite{
        font-size: 2.7rem;
        text-align: center; 
        padding: 20px 20px;
        border-radius: 20px; 
        width: 35%;
        height: auto;
    }




    /*Tabelas */
    .container-tabela{
    overflow-x: auto;      
    }


    table{
        width: 150%;
        margin: auto;       
        
    }
    


    th,td{
        border: 3px  solid  black;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center; 
        padding: 10px;     
            
    }

    .th1{
        font-size: 3.5rem;
        text-align: center;
    }

    .th2{
        font-size: 2.9rem;
        text-align: center;
    }

    .td1{
        font-size: 2.7rem;
        text-align: center;
    }

    .itemFoto{
        border: 0px solid black;    
        height: 13rem;
        width: 13rem;
        
        display: flexbox;
        margin: auto;
        align-items: center;
    }

    .espacoLinha{
        height: 120px;    ;
    } 
    
    th:nth-child(1){
      width: 25%;
    }

    th:nth-child(2){
        width: 45%;
    }

    th:nth-child(3){
        width: 30%;
    }


}







@media (max-width: 500px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.7rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.3rem;
        text-align: center;
        margin-top: 17rem;
    }

    h4{
        font-size: 3.1rem;
        font-weight: bold;        
        text-align: center;        
    }
    
    h5{
        font-size: 2.9rem;        
        text-align: center;
    }

    


    .itemBaner{
        width: 100%;
        height: 40rem;

    }






    p{
        font-size: 2.7rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }


    
    /*Botão Voltar Topo*/
        .btnVoltarTopo{        
        font-size: 2.7rem;
        text-align: center; 
        padding: 50px 100px;
        border-radius: 20px;       
    }



    /*Botão Voltar Para o Site*/    
    .voltarSite{
        font-size: 2.7rem;
            text-align: center; 
            padding: 20px 20px;
            border-radius: 20px; 
            width: 35%;
            height: auto;
    }


    /*Tabelas */
    .container-tabela{
    overflow-x: auto;      
    }


    table{
        width: 150%;
        margin: auto;       
        
    }
    

    th,td{
        border: 3px  solid  black;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center; 
        padding: 10px;     
            
    }

    .th1{
        font-size: 3.5rem;
        text-align: center;
    }

    .th2{
        font-size: 2.9rem;
        text-align: center;
    }

    .td1{
        font-size: 2.7rem;
        text-align: center;
    }

    .itemFoto{
        border: 0px solid black;    
        height: 13rem;
        width: 13rem;
        
        display: flexbox;
        margin: auto;
        align-items: center;
    }

    .espacoLinha{
        height: 120px;    ;
    }
    
    
    th:nth-child(1){
      width: 25%;
    }

    th:nth-child(2){
        width: 45%;
    }

    th:nth-child(3){
        width: 30%;
    }


}










