/*Baner*/
.containerBaner{
    display: flex;
    justify-content: center;
    align-items: center;    
    
    margin-top: 0rem;
    margin-bottom: 0rem;

    /*Propriedade Imagem Não Destorcer*/
    object-fit: cover;

    /*background-image: "imagem/fotoMasso1.jpd";*/
}

.itemBaner{
    border: 0px solid black;
    width: 100vw;
    height: 23rem;    

}



/*------------------------------------------------------------*/



/*Botão Sair "Logout"r*/
/* Container do Botão Sair "Logout" */
.containerSairLogout {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 5rem;    
    margin-bottom: 2rem;    
    box-sizing: border-box;

    border: 0px  solid  black;
}


/* Botão Sair "Logout" */
.sairLogout {
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
    width: 100%;
    max-width: 40rem;    
    height: auto;
    padding: 12px 0;
    text-align: center;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;    

    will-change: transform;
    transition: transform 0.3s ease-in-out;    
}


.sairLogout:hover{
    transform: scale(1.05);
}



/*--------------------------------------------------------*/



.msg{
    display: block;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}



/*----------------------------------------------------------------*/



/*Botão Voltar Topo*/
.btnVoltarTopo{
    position: fixed;
    bottom: 7rem;
    right: 3rem;
    z-index: 99999;

    border: 5px solid blueviolet;
    background-color: white;   
    color: blueviolet;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    /*border: none;*/
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    padding: 7px 5px;       
    
}

.btnVoltarTopo:hover{
    transform: scale(1.2);
}



/*------------------------------------------------------------*/



/*Rodapé*/

/*Linha do Rodape*/
.linhaRodape{
    margin-top: 10rem;
    text-align: center;
}


/*Container do Rodapé*/
.containerRodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 17px 0;
}



.containerAltoral{
    margin-bottom: 0.7rem;    
}


/*Container Altoral/Link Desenvolvedor*/
.containerLinkDev{
    margin-bottom: 0rem;      
    
}



/*Itens do Contener/Rodape*/
.itemAltoral{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
       
}


.itemLinkDev{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: blue;         
    
    /*"!important"Forçar a Propriedade a Execultar*/ 
}




